body::before {
  display: block;
  content: "";
  height: 200px;
}

.carousel-inner {
  max-height: 500px;
  background-position: cover;
  border-radius: 12px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}


.carousel-item > img {
  padding-bottom: 200px;
}

.txtvioleta {
  color: rgb(155, 91, 8);
}

nav {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.alineateputo {
  display: flex;
  justify-content: right;
}

.radio {
  border-radius: 15px;
}

.textobase{
  font-size: 1.2rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
